
main {
  
max-width: 800px; /*responsive to screen size*/
height: 1000px;
text-align: center;
background:white;
margin-top:60px;
border-radius: 10px;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
margin-inline: auto; /*responsive to screen size*/
}

.start{
max-width: 800px; /*responsive to screen size*/
height: 600px;
background:white;
margin-top:60px;
border-radius: 10px;
text-align: center;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
padding:50px;
margin-inline: auto; /*responsive to screen size*/

}

.button{
width: 160px;
height:50px;
margin-top:30px;
}

.questionSection{
width: 700px; /*responsive to screen size*/
height: 160px;
margin-top:5px;
font-size:15px;
border-bottom:1px solid black;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.options{
display:flex;
justify-content: space-evenly;
gap:15px;
}
.option{
background-color: transparent;
  border: 2px solid #6495ED;
  padding: 6px 18px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}

.answerButton{
width:auto;
height:40px;
margin:3px 5px 3px 3px;

}